// ------------------ GLOBAL ------------------ //

$primary: #94d2bd;
$primary-op-low: #94d2bd8e;
$primary-dark: #5b9984;
$white-op-low: rgba(255, 255, 255, 0.63);
$box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -4px rgba(0, 0, 0, 0.1);
$drop-shadow: 0 0 0.4rem rgb(0, 0, 0, 0.3);

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  background: url("./restaurant.jpg") no-repeat;
  background-size: cover;
  background-position: bottom;
  margin: 0;
  font-family: raleway, sans-serif;
  font-weight: 400;
}

.hidden {
  display: none;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content-overlay {
  background-color: rgba(0, 0, 0, 0.747);
  margin: 8rem 0 5rem 0;
  transition: 500ms ease;
}

// ------------------ HEADER/NAVIGATION ------------------ //

.header {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  border-bottom: 2px solid $primary;
  z-index: 1;

  .nav {
    display: flex;
    align-items: baseline;
    gap: 3rem;

    .nav-buttons {
      display: flex;
      flex-direction: row;
      background-color: transparent;
      border: none;
      padding: 1.8rem 0;
      color: rgb(255, 255, 255);
      font-size: 1.1rem;
      letter-spacing: 3px;
      text-transform: uppercase;
      transition: 300ms ease;
      cursor: pointer;

      &:hover {
        background-color: $primary-op-low;
      }
    }
  }
}

// ------------------ HERO/HOME CONTENT ------------------ //

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  transition: 500ms ease;

  h1 {
    font-family: lust-script-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: $primary;
    font-size: 8rem;
    margin: 0;
  }

  h2 {
    font-family: new-spirit, serif;
    font-weight: 400;
    margin-top: -4.3rem;
    margin-left: 3rem;
    font-size: 3.8rem;
    letter-spacing: 3px;
    color: rgba(255, 255, 255, 0.849);
    filter: drop-shadow($drop-shadow);
  }
}

// ------------------ ABOUT CONTENT ------------------ //

.about-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 400;
  color: rgb(255, 255, 255);

  h1 {
    color: $primary-dark;
  }

  h2 {
    margin-top: -6.4rem;
    margin-bottom: 0;
  }

  hr {
    width: 50%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0)
    );
  }

  p {
    width: 50%;
    text-align: justify;
  }
}

// ------------------ MENU CONTENT ------------------ //

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  justify-items: center;
  align-items: center;
  gap: 3.5rem;
  width: 70%;
  padding: 5rem;
}

.menu-items {
  flex-grow: 1;
  background-color: $white-op-low;
  color: #333;
  padding: 1rem;
  width: 320px;
  border-radius: 1rem;
  box-shadow: $box-shadow;
}

// ------------------ FOOTER ------------------ //

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
  width: 429px;
  border-top: 2px solid $primary;
  letter-spacing: 1px;
}
